.project-card {
  display: flex;
  width: 50%;
  padding: var(--s-24);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--s-24);
  border-radius: var(--radius-card);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-sizing: border-box;
}

/* Light Mode */
body.light .project-card {
  background: linear-gradient(180deg, #FFF 0%, #F3F3F3 100%);
}

/* Dark Mode */
body.dark .project-card {
  background: var(--dark-gradient); /* Use the corrected dark gradient variable */
}

.project-card-header {
  display: flex;
  align-items: center;
  gap: var(--s-16);
}

.project-card-icon {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

.project-card-title {
  color: var(--foreground-1);
  font-family: var(--font-family-regular);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.project-card-tech {
  color: var(--foreground-2);
  font-family: var(--font-family-regular);
  font: var(--text-body-2);
  line-height: 14px;
}

.project-card-description {
  color: var(--foreground-2)!important;
  font: var(--text-body-1);
  line-height: 16px;
  margin: 0;
}

.project-card-buttons {
  display: flex;
  gap: var(--s-12);
  width: 100%;
}

.project-card-buttons .btn {
  flex: 1 1;
  border-radius: var(--radius-card);
  height: 40px;
  font-size: var(--button-font-size);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-16);
  justify-content: center;
}

/* Dark Mode Button Font Color */
body.dark .project-card-buttons .btn {
  color: var(--background-1);
}

/* Light Mode Hover for Reversed Buttons */
body.light .project-card-buttons .btn--reversed:hover {
  border-color: var(--primary-brand);
  color: var(--primary-brand);
}

/* Dark Mode Hover for Reversed Buttons */
body.dark .project-card-buttons .btn--reversed:hover {
  border-color: var(--primary-brand);
  color: var(--primary-brand);
}

/* Apply Dark Mode Button Styles */
body.dark .project-card-buttons .btn--filled {
  background-color: var(--primary-brand);
}

body.dark .project-card-buttons .btn--filled:hover {
  background-color: var(--foreground-1);
}

body.dark .project-card-buttons .btn--outlined {
  border: 1px solid var(--primary-brand);
  background-color: var(--background-1);
  color: var(--primary-brand);
  height: 40px;
}

body.dark .project-card-buttons .btn--outlined:hover {
  background-color: var(--background-2);
  border: 1px solid var(--foreground-1);
  color: var(--foreground-1);
  height: 40px;
}

body.dark .project-card-buttons .btn--ghost {
  color: var(--primary-brand);
  background-color: var(--background-1);
}

body.dark .project-card-buttons .btn--ghost:hover {
  background-color: var(--background-2);
  color: var(--primary-brand);
}

/* Small Breakpoint */
@media (max-width: 768px) {
  .project-card {
    flex: 1 1 100%;
  }
}

/* Medium Breakpoint */
@media (min-width: 769px) and (max-width: 1023px) {
  .project-card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(50% - 20px);
  }
}

/* Large Breakpoint */
@media (min-width: 1024px) {
  .project-card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(33.333% - 20px);
  }
}

.text-default {
  margin: 0;
  /* font-family: var(--font-family-regular); */
  color: var(--foreground-1); 
}

/* Light Mode Text Colors */
body.light .text-default,
body.light th,
body.light td {
  color: var(--foreground-1);
}

/* Dark Mode Text Colors */
body.dark .text-default,
body.dark th,
body.dark td {
  color: var(--foreground-1);
}

/* Text Styles */
.large-title {
  font: var(--text-large-title);
}

.title-1 {
  font: var(--text-title-1);
}

.title-2 {
  font: var(--text-title-2);
}

.title-3 {
  font: var(--text-title-3);
}

.headline {
  font: var(--text-headline);
}

.body-1 {
  font: var(--text-body-1);
}

.label-1 {
  font: var(--text-label-1);
}

.body-2 {
  font: var(--text-body-2);
}

.label-2 {
  font: var(--text-label-2);
}

/* Button.css */
.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: var(--radius-default);
  font-family: var(--font-family-regular);
  font-size: var(--button-font-size); /* Use the new variable for font size */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn--filled {  
  display: inline-flex;
  padding: var(--s-12) var(--s-24);
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-brand); /* Uses --primary-brand */
  border-radius: var(--radius-round);
  color: var(--background-1);
}

.btn--filled:hover {  
  background-color: var(--foreground-1);
}

.btn--outlined {
  display: inline-flex;
  padding: var(--s-12) var(--s-24);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-round);
  border: 1px solid var(--primary-brand);
  background-color: #FFF; /* color not mapped to var for SB purposes */
  color: var(--primary-brand); 
}

.btn--outlined:hover {
  border: 1px solid var(--foreground-1);
  background-color: var(--background-2);
  color: var(--foreground-1);
}

.btn--ghost {
  display: inline-flex;
  padding: var(--s-12) var(--s-24);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-round);
  background-color: #FFF; /* color not mapped to var for SB purposes */
  color: var(--primary-brand);
}

.btn--ghost:hover {
  background-color: var(--background-2);
  color: var(--foreground-1);
}

.btn--reversed {
  background-color: var(--background-1); 
  color: var(--primary-brand); 
}

.btn--reversed:hover {
  background-color: var(--background-1);
  color: var(--primary-brand); 
}

/* Dark Mode Styles */
body.dark .btn--filled {
  background-color: var(--primary-brand); /* Dark mode primary color */
}

body.dark .btn--filled:hover {
  background-color: var(--foreground-1); /* Hover background for filled button in dark mode */
}

body.dark .btn--outlined {
  border: 1px solid var(--primary-brand); /* Dark mode primary color */
  background-color: var(--background-1);
  color: var(--primary-brand);
  height: 40px;
}

body.dark .btn--outlined:hover {
  background-color: var(--background-2); /* Dark mode primary color */
  border: 1px solid var( --foreground-1);
  color: var(--foreground-1);
  height: 40px;
}

body.dark .btn--ghost {
  color: var(--primary-brand);
  background-color: var(--background-1);
}

body.dark .btn--ghost:hover {
  background-color: var(--background-2);
  color: var(--primary-brand);
}

.btn.label-1 {
  font-family: var(--font-family-regular);
  font-size: var(--button-font-size); /* Use the new variable for font size */
}


/*# sourceMappingURL=stories-ProjectCard-stories.7e96f257.chunk.css.map*/