.flexbox-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flexbox-layout {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 40px 80px;
  justify-content: space-between; 
}

.flexbox-layout > * {
  flex: 1 1; 
  min-width: 0; 
}

.inner-div.one {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flexbox-layout > * > .inner-div {
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; 
  padding-top: 10px;
}

.input-container .text-input {
  width: 100%; 
}

.flexbox-container > .flexbox-layout:last-child .inner-div.two {
  margin-bottom: 80px;
}

.btn-input-row {
  text-align: end;
}

.margin-layout {
  margin: 40px 80px;
}

.large-title {
  margin-bottom: 10px;
}

/* Media queries */
@media (max-width: 768px) {
  .flexbox-layout {
    flex-direction: column; 
    margin: 24px 16px;
    gap: 24px;
  }

  .flexbox-layout > * {
    flex-grow: 0; 
    width: 100%; 
    height: auto;
  }

  .flexbox-layout > * > .inner-div {
    width: 100%;
    height: auto;
  }

  .input-container {
    width: 100%;
    padding-top: 0;
  }

  .grid-layout {
    grid-template-columns: 1fr !important; 
    margin: 24px 16px;
    gap: 24px;
  }
}
.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: var(--radius-default);
  font-family: var(--font-family-regular);
  font-size: var(--button-font-size); 
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn--filled {  
  display: inline-flex;
  padding: var(--s-12) var(--s-24);
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-brand); 
  border-radius: var(--radius-round);
  color: var(--background-1);
}

.btn--filled:hover {  
  background-color: var(--foreground-1);
}

.btn--outlined {
  display: inline-flex;
  padding: var(--s-12) var(--s-24);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-round);
  border: 1px solid var(--primary-brand);
  background-color: #FFF; 
  color: var(--primary-brand); 
}

.btn--outlined:hover {
  border: 1px solid var(--foreground-1);
  background-color: var(--background-2);
  color: var(--foreground-1);
}

.btn--ghost {
  display: inline-flex;
  padding: var(--s-12) var(--s-24);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-round);
  background-color: #FFF; 
  color: var(--primary-brand);
}

.btn--ghost:hover {
  background-color: var(--background-2);
  color: var(--foreground-1);
}

.btn--reversed {
  background-color: var(--background-1); 
  color: var(--primary-brand); 
}

.btn--reversed:hover {
  background-color: var(--background-1);
  color: var(--primary-brand); 
}

/* Dark Mode Styles */
body.dark .btn--filled {
  background-color: var(--primary-brand); 
}

body.dark .btn--filled:hover {
  background-color: var(--foreground-1); 
}

body.dark .btn--outlined {
  border: 1px solid var(--primary-brand); 
  background-color: var(--background-1);
  color: var(--primary-brand);
  height: 40px;
}

body.dark .btn--outlined:hover {
  background-color: var(--background-2); 
  border: 1px solid var( --foreground-1);
  color: var(--foreground-1);
  height: 40px;
}

body.dark .btn--ghost {
  color: var(--primary-brand);
  background-color: var(--background-1);
}

body.dark .btn--ghost:hover {
  background-color: var(--background-2);
  color: var(--primary-brand);
}

.btn.label-1 {
  font-family: var(--font-family-regular);
  font-size: var(--button-font-size); 
}

/* Size Variants */
.btn.small {
  padding: var(--s-4) var(--s-8);
}

.btn.medium {
  padding: var(--s-8) var(--s-16);
}

.btn.large {
  padding: var(--s-16) var(--s-32);
}

.text-input {
  box-sizing: border-box; 
  outline-color: var(--primary-brand);
  width: 220px;
  height: 32px;
  padding: 8px 16px;
  border: 1px solid var(--border-1);
  color: var(--black); 
  background-color: var(--background-2);
  gap: 10px;
  /* border-radius mapped to .radius-default class */
}

.text-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-area-input {
  box-sizing: border-box; 
  outline-color: var(--primary-brand);
  width: 220px;
  height: 120px; 
  padding: 8px 16px;
  border: 1px solid var(--border-1);
  color: var(--black); 
  background-color: var(--background-2);
  gap: 10px;
  /* border-radius mapped to .radius-default class */
}

.text-default {
  margin: 0;
  color: var(--foreground-1); 
}

/* Light Mode Text Colors */
body.light .text-default,
body.light th,
body.light td {
  color: var(--foreground-1);
}

/* Dark Mode Text Colors */
body.dark .text-default,
body.dark th,
body.dark td {
  color: var(--foreground-1);
}

/* Text Styles */
.large-title {
  font: var(--text-large-title);
}

.title-1 {
  font: var(--text-title-1);
}

.title-2 {
  font: var(--text-title-2);
}

.title-3 {
  font: var(--text-title-3);
}

.headline {
  font: var(--text-headline);
}

.body-1 {
  font: var(--text-body-1);
}

.label-1 {
  font: var(--text-label-1);
}

.body-2 {
  font: var(--text-body-2);
}

.label-2 {
  font: var(--text-label-2);
}


/*# sourceMappingURL=stories-FlexibleLayout-stories.c35ab0d3.chunk.css.map*/