.search-bar-with-button {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--background-1);
  border: 1px solid var(--border-1);
  border-radius: var(--radius-default);
  padding: var(--s-8);
  max-width: 300px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.search-icon {
  color: var(--foreground-2);
  font-size: 16px;
  margin-right: var(--s-8);
}

.search-input {
  width: 300px;
  flex: 1 1;
  border: none;
  outline: none;
  font-family: var(--font-family-regular);
  font-size: var(--text-body-1);
  color: var(--foreground-1);
  background-color: transparent;
}

.search-input::placeholder {
  color: var(--foreground-2);
}

.btn-search {
  margin-left: var(--s-8);
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: var(--radius-default);
  font-family: var(--font-family-regular);
  font-size: var(--button-font-size);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn--primary {
  background-color: var(--primary-brand);
  color: var(--background-1);
  border: none;
}

.btn-search {
  margin-left: var(--s-8);
}

.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: var(--radius-default);
  font-family: var(--font-family-regular);
  font-size: var(--button-font-size); 
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn--filled {  
  display: inline-flex;
  padding: var(--s-12) var(--s-24);
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-brand); 
  border-radius: var(--radius-round);
  color: var(--background-1);
}

.btn--filled:hover {  
  background-color: var(--foreground-1);
}

.btn--outlined {
  display: inline-flex;
  padding: var(--s-12) var(--s-24);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-round);
  border: 1px solid var(--primary-brand);
  background-color: #FFF; 
  color: var(--primary-brand); 
}

.btn--outlined:hover {
  border: 1px solid var(--foreground-1);
  background-color: var(--background-2);
  color: var(--foreground-1);
}

.btn--ghost {
  display: inline-flex;
  padding: var(--s-12) var(--s-24);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-round);
  background-color: #FFF; 
  color: var(--foreground-2);
}

.btn--ghost:hover {
  background-color: var(--background-2);
  color: var(--foreground-1);
  cursor: not-allowed;
}

.btn--reversed {
  background-color: var(--background-1); 
  color: var(--primary-brand); 
}

.btn--reversed:hover {
  background-color: var(--background-1);
  color: var(--primary-brand); 
}

/* Dark Mode Styles */
body.dark .btn--filled {
  background-color: var(--primary-brand); 
}

body.dark .btn--filled:hover {
  background-color: var(--foreground-1); 
}

body.dark .btn--outlined {
  border: 1px solid var(--primary-brand); 
  background-color: var(--background-1);
  color: var(--primary-brand);
  height: 40px;
}

body.dark .btn--outlined:hover {
  background-color: var(--background-2); 
  border: 1px solid var( --foreground-1);
  color: var(--foreground-1);
  height: 40px;
}

body.dark .btn--ghost {
  color: var(--foreground-2);
  background-color: var(--background-1);
}

body.dark .btn--ghost:hover {
  background-color: var(--background-2);
  color: var(--foreground-2);
  cursor: not-allowed;
}

.btn.label-1 {
  font-family: var(--font-family-regular);
  font-size: var(--button-font-size); 
}

/* Size Variants */
.btn.small {
  padding: var(--s-4) var(--s-8);
}

.btn.medium {
  padding: var(--s-8) var(--s-16);
}

.btn.large {
  padding: var(--s-16) var(--s-32);
}


/*# sourceMappingURL=stories-SearchBar-stories.c0c687cf.chunk.css.map*/