.about {
  display: flex;
  justify-content: center; 
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    linear-gradient(270deg, #00dbd8 0%, #b133ff 100%);
}

.about-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: var(--s-16);
  padding: var(--s-40) var(--s-24); 
  max-width: 1280px; 
  width: 100%; 
}

.about-title {
  color: #FFFFFF;
  font: var(--text-title-1);
  margin-bottom: var(--s-16);
}

.about-text {
  text-align: start;
  font: var(--text-body-1);
  color: #FFFFFF;
}

.about-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
}

.about-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .about-content {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; 
  }

  .about-text {
    max-width: 60%;
    text-align: left;
  }

  .about-icon {
    max-width: fit-content;
  }
}
