.accordion-container {
  padding: var(--s-40) var(--s-40);
}

.accordion {
  border: 1px solid var(--light-gray);
  border-radius: var(--radius-default);
  margin-bottom: 16px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--s-16);
  background-color: var(--snow);
  cursor: pointer;
}

.accordion-toggle {
  background: none;
  border: none;
  font-size: px;
  line-height: 1;
  color: var(--primary-brand);
  cursor: pointer;
}

.accordion-content {
  padding: var(--s-16);
  background-color: var(--white);
}

@media (max-width: 768px) {
  .accordion-container {
    padding: var(--s-24) var(--s-16);
  }
}