.accordion-container {
  padding: var(--s-40) var(--s-40);
}

.accordion {
  border: 1px solid var(--light-gray);
  margin-bottom: 16px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--s-16);
  background-color: var(--snow);
  cursor: pointer;
}

.headline {
  color: var(--black);
}

.body-1 {
  color: var(--black);
}

.accordion-toggle {
  background: none;
  border: none;
  line-height: 1;
  color: var(--black);
  cursor: pointer;
}

.accordion-content {
  padding: var(--s-16);
  background-color: var(--white);
}

.chevron-icon {
  transition: transform 0.3s ease;
}

.accordion-toggle.open .chevron-icon {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .accordion-container {
    padding: var(--s-24) var(--s-16);
  }
}