.btn {
  /* padding mapped to .btn-padding class */
  border: none;
  cursor: pointer;
  color: var(--white);
  /* border-radius mapped to .radius-default class */
}

.btn--primary {
  background-color: #096FFA; /* color not mapped to --primary-brand for SB purposes */
}

.btn--outlined {
  color: #096FFA; /* color not mapped to --primary-brand for SB purposes */
  background-color: transparent;
  border: 1px solid var(--primary-brand); 
}

.btn--disabled {
  background-color: var(--light-gray);
  color: var(--gray); 
  cursor: not-allowed;
}