.footer-outer-container {
  display: flex;
  padding: var(--s-0) var(--s-16); 
  flex-direction: column;
  align-items: flex-start;
  gap: var(--s-24);
  align-self: stretch;
  max-width: 1280px;
  margin: 0 auto; 
  width: 100%;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1280px; 
  gap: var(--s-24);
  height: 252px;
  box-sizing: border-box; 
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: var(--s-32);
  width: 100%;
  box-sizing: border-box; 
}

.footer-text {
  font: var(--text-title-2);
  color: var(--foreground-2) !important;
}

.footer-nav {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: var(--s-32);
  padding-bottom: var(--s-80);
  box-sizing: border-box; 
}

.footer-link {
  font: var(--text-body-1);
  color: var(--primary-brand);
  text-decoration: none;
  width: fit-content;
}

.footer-link:hover {
  color: var(--accent);
}

.icon-container {
  display: flex;
  gap: var(--s-12);
}

.icon-container a {
  text-decoration: none; 
  color: inherit; 
}

.icon-container a:hover {
  color: inherit; 
}

.icon-container svg {
  width: 32px;
  height: 32px;
  border-radius: var(--radius-default);
  background-color: var(--svg-background);
  fill: var(--svg-fill);
  padding: var(--s-4);
  transition: background-color 0.3s, fill 0.3s;
}

.icon-container a:hover svg {
  background-color: var(--svg-fill);
  fill: var(--svg-background);
}

/* Large Breakpoint */
@media (min-width: 1024px) {
  .footer-outer-container {
    padding: var(--s-0) var(--s-32); 
  }
}
