.project-card {
  display: flex;
  width: 100%;
  padding: var(--s-24);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--s-24);
  border-radius: var(--radius-card);
  background-color: var(--background-1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
}

.project-card-header {
  display: flex;
  align-items: center; 
  gap: var(--s-16); 
}

.project-card-icon {
  width: 45px;
  height: 45px;
  flex-shrink: 0; 
}

.project-card-title {
  color: var(--foreground-1);
  font-family: var(--font-family-regular);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.project-card-tech {
  color: var(--foreground-2);
  font-family: var(--font-family-regular);
  font: var(--text-body-2); 
  line-height: 14px;
}

.project-card-description {
  color: var(--foreground-2);
  font: var(--text-body-1);
  line-height: 16px;
  margin: 0;
}

.project-card-buttons {
  display: flex;
  gap: var(--s-12);
  width: 100%; 
}

.project-card-buttons .btn {
  flex: 1; 
  border-radius: var(--radius-card);
  height: 40px; /* Fixed height */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-16);
  justify-content: center;
}

.project-card-buttons .btn--reversed:hover {
  background-color: var(--background-1);
  border: 1px solid var(--primary-brand); 
}

/* Light Mode Hover */
body.light .project-card-buttons .btn--reversed:hover {
  border-color: var(--primary-brand); 
}

/* Dark Mode Hover */
body.dark .project-card-buttons .btn--reversed:hover {
  border-color: var(--primary-brand); 
}

/* Small Breakpoint */
@media (max-width: 768px) {
  .project-card {
    flex: 1 1 100%; 
  }
}

/* Medium Breakpoint */
@media (min-width: 769px) and (max-width: 1023px) {
  .project-card {
    flex: 1 1 calc(50% - 20px); 
  }
}

/* Large Breakpoint */
@media (min-width: 1024px) {
  .project-card {
    flex: 1 1 calc(33.333% - 20px); 
  }
}
