.tech-page-layout {
  display: flex;
  padding: var(--s-0) var(--s-16);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--s-24);
  align-self: stretch;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.section-title {
  font: var(--text-title-2);
  color: var(--foreground-2);
  align-self: flex-start;
}

.tech-page-cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-16);
  justify-content: space-between;
  width: 100%;
}



/* Large Breakpoint */
@media (min-width: 1024px) {
  .tech-page-layout {
    padding: var(--s-0) var(--s-32);
  }
}

/* Light Mode Icon Color */
body.light .icon-card-icon {
  fill: #B133FF; 
  stroke: #B133FF; 
}

/* Dark Mode Icon Color */
body.dark .icon-card-icon {
  fill: #F46737; 
  stroke: #F46737; 
}
