.text-default {
  margin: 0;
  color: var(--foreground-1); 
}

/* Light Mode Text Colors */
body.light .text-default,
body.light th,
body.light td {
  color: var(--foreground-1);
}

/* Dark Mode Text Colors */
body.dark .text-default,
body.dark th,
body.dark td {
  color: var(--foreground-1);
}

/* Text Styles */
.large-title {
  font: var(--text-large-title);
}

.title-1 {
  font: var(--text-title-1);
}

.title-2 {
  font: var(--text-title-2);
}

.title-3 {
  font: var(--text-title-3);
}

.headline {
  font: var(--text-headline);
}

.body-1 {
  font: var(--text-body-1);
}

.label-1 {
  font: var(--text-label-1);
}

.body-2 {
  font: var(--text-body-2);
}

.label-2 {
  font: var(--text-label-2);
}
