/* Global Variables */
:root {
  /* Color Variables */
  --primary-brand: #13ADC7;
  --accent: #F43737;
  --foreground-1: #111111;
  --foreground-2: #999999;
  --border-1: #D6D6D6;
  --background-1: #FFFFFF;
  --background-2: #FAFAFA;
  --gradient: linear-gradient(to right, #13ADC7, #B133FF);

  /* Spacing Units */
  --s-0: 0px;
  --s-4: 4px;
  --s-8: 8px;
  --s-12: 12px;
  --s-16: 16px;
  --s-24: 24px;
  --s-32: 32px;
  --s-40: 40px;
  --s-56: 56px;
  --s-80: 80px;
  --s-120: 120px;

  /* Radius Units */
  --radius-default: 6px;
  --radius-compact: 3px;
  --radius-card: 20px;
  --radius-round: 999px;
  --radius-none: 0px;

  /* Button Padding */
  --s-12: 12px;
  --s-24: 24px;

  /* Font Variables */
  --font-family-semibold: 'Titillium Web Semibold';
  --font-family-regular: 'Titillium Web Regular';
  --font-family-light: 'Titillium Web Light';

  /* Text Styles */
  --text-large-title: 32px / 40px var(--font-family-semibold);
  --text-title-1: 28px / 40px var(--font-family-semibold);
  --text-headline: 16px / 20px var(--font-family-regular);
  --text-body-1: 14px / 16px var(--font-family-regular);
  --text-label-1: 14px / 16px var(--font-family-regular);
  --text-title-2: 22px / 28px var(--font-family-semibold);
  --text-title-3: 22px / 28px var(--font-family-light);
  --text-body-2: 10px / 14px var(--font-family-regular);
  --text-label-2: 10px / 14px var(--font-family-regular);

  /* Button font */
  --button-font-size: 14px;
}

/* Light Mode */
body.light {
  --primary-brand: #13ADC7;
  --accent: #F43737;
  --foreground-1: #111111;
  --foreground-2: #999999;
  --border-1: #D6D6D6;
  --background-1: #FFFFFF;
  --background-2: #FAFAFA;
  --gradient: linear-gradient(to right, #13ADC7, #B133FF);
}

/* Dark Mode */
body.dark {
  --primary-brand: #B133FF;
  --accent: #F46737;
  --foreground-1: #FFFFFF;
  --foreground-2: #869DA9;
  --border-1: #384767;
  --background-1: #0E131F;
  --background-2: #162032;
  --gradient: linear-gradient(to right, #13ADC7, #B133FF);
}

/* Semibold */
@font-face {
  font-family: 'Titillium Web Semibold';
  src: url('../public/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Titillium Web Regular';
  src: url('../public/fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: 'Titillium Web Light';
  src: url('../public/fonts/TitilliumWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Other Styles */
.text-default {
  margin: 0;
}

/* Radius Styles */
.radius-default {
  border-radius: var(--radius-default);
}

.radius-compact {
  border-radius: var(--radius-compact);
}

.radius-card {
  border-radius: var(--radius-card);
}

.radius-round {
  border-radius: var(--radius-round);
}

.radius-none {
  border-radius: var(--radius-none);
}

/* Text Styles */
.large-title, .title-1, .title-2, .label-1, .label-2 {
  font-family: var(--font-family-semibold);
}

.headline, .body-1, .body-2 {
  font-family: var(--font-family-regular);
}

.title-3 {
  font-family: var(--font-family-light);
}

.large-title {
  font: var(--text-large-title);
}

.title-1 {
  font: var(--text-title-1);
}

.headline {
  font: var(--text-headline);
}

.body-1 {
  font: var(--text-body-1);
}

.label-1 {
  font: var(--text-label-1);
}

.title-2 {
  font: var(--text-title-2);
}

.title-3 {
  font: var(--text-title-3);
}

.body-2 {
  font: var(--text-body-2);
}

.label-2 {
  font: var(--text-label-2);
}
