/* Color Variables */
:root {
  --primary-brand: #13ADC7;
  --accent: #F43737;
  --foreground-1: #111111;
  --foreground-2: #999999;
  --border-1: #D6D6D6;
  --background-1: #FFFFFF;
  --background-2: #FAFAFA;
  --gradient: #13ADC7 - #B133FF;

/* Spacing Units */
  --s-0: 0px;
  --s-4: 4px;
  --s-8: 8px;
  --s-12: 12px;
  --s-16: 16px;
  --s-24: 24px;
  --s-32: 32px;
  --s-40: 40px;
  --s-56: 56px;
  --s-80: 80px;
  --s-120: 120px;

/* Radius Units */
  --radius-default: 6px;
  --radius-compact: 3px;
  --radius-card: 20px;
  --radius-round: 999px;
  --radius-none: 0px;  

/* Button Padding */
  --Spacing-s12: 12px;
  --Spacing-s24: 24px;
}

/* Dark Mode  */
body.dark-mode {
  --primary-brand: #B133FF;
  --accent: #F46737;
  --foreground-1: #FFFFFF;
  --foreground-2: #869DA9;
  --border-1: #384767;
  --background-1: #0E131F;
  --background-2: #162032;
  --gradient: #13ADC7 - #B133FF;
}

/* Semibold */
@font-face {
  font-family: 'Titillium Web Semibold';
  src: url('../public/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: 600;  
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Titillium Web Regular';
  src: url('../public/fonts/TitilliumWeb-Regular.ttf') format('truetype'); 
  font-weight: 400; 
  font-style: normal;
}
/* Light */
@font-face {
  font-family: 'Titillium Web Light';
  src: url('../public/fonts/TitilliumWeb-Light.ttf') format('truetype'); 
  font-weight: 300; 
  font-style: normal;
}

.text-default {
  margin: 0;
}

/* Button Padding */
.btn-padding {
  padding: var(--btn-padding-y) var(--btn-padding-x);
}

/* Radius Units */
.radius-default {
  border-radius: 6px;
}

.radius-compact {
  border-radius: 3px;
}

.radius-card {
  border-radius: 20px;
}

.radius-round {
  border-radius: 999px;
}

.radius-none {
  border-radius: 0px;
}

/* Text Styles */
.large-title, .title-1, .title-2, .label-1, .label-2 {
  font-family: 'Titillium Web Semibold';
}

.headline, .body-1, .body-2 {
  font-family: 'Titillium Web Regular';
}

.title-3 {
  font-family: 'Titillium Web Light';
}

.large-title {
  font-size: 32px;
  line-height: 40px;
}

.title-1 {
  font-size: 28px;
  line-height: 40px;
}

.headline {
  font-size: 16px;
  line-height: 20px;
}

.body-1 {
  font-size: 14px;
  line-height: 16px;
}

.label-1 {
  font-size: 14px;
  line-height: 16px;
}

.title-2 {
  font-size: 22px;
  line-height: 28px;
}

.title-3 {
  font-size: 22px;
  line-height: 28px;
}

.body-2 {
  font-size: 10px;
  line-height: 14px;
}

.label-2 {
  font-size: 10px;
  line-height: 14px;
}
